* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: none;
}

/*-FONTS-*/

@font-face {
    font-family: 'Varela Round';
    src: url('fonts/varela-round.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    color: #222;
    background: #fafafa;
}

p {
    margin: 0;
}

.email {
    color: #b7b7b7;
    text-decoration: none;
    border-bottom: 10px solid #222;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.email:hover {
    color: #b7b7b7;
    text-decoration: none;
    border-bottom: 5px solid #222;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.logo {
    margin: 0;
    padding: 0;
    float: left;
    line-height: 49px;
}

.nav {
    float: right;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: left;
    font-weight: 600;
    float: left;
}

#container {
    overflow: auto;
    transition: all .2s ease-in-out;
}

.user-scrolls {
    background-color: #af1b1b;
    box-shadow: 0 2px 31px rgba(0, 0, 0, .2);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

/*-MOBILE-*/

@media (max-width: 768px) {
    #container {
        /*        max-width: 500px;*/
        /*        border: 2px solid black;*/
        /*        padding: 50px 20px;*/
        margin: 40px 20px;
    }
    .user-scrolls {
        padding: 20px;
    }
    body {
        /*        background: lightblue;*/
    }
    header {
        padding: 20px;
        transition: all .2s ease-in-out;
    }
    .nav {
        display: none;
    }
    .menu {
        margin: 7px 20px 8px 20px;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    #hero {
        font-size: 52px;
        line-height: 50px;
        height: 85vh;
        text-align: left;
    }
    #hero h4 {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 20px;
    }
    .button {
        padding-top: 0px;
    }
    .button a {
        font-size: 25px;
    }
    footer {
        padding: 22px 20px;
        font-size: 16px;
    }
}

/*---TABLET---*/

@media (max-width: 1068px) and (min-width: 768px) {
    #container {
        margin: 35px;
    }
    .user-scrolls {
        padding: 20px 35px;
    }
    body {
        /*        background: blue;*/
    }
    header {
        padding: 50px 35px;
        transition: all .2s ease-in-out;
    }
    .menu {
        display: none;
        transition: all .2s ease-in-out;
        margin: 47px 50px 48px 50px;
    }
    #hero {
        font-size: 75px;
        line-height: 108px;
        height: 85vh;
        margin-top: -20px;
        text-align: center;
    }
    .button {
        padding-top: 0px;
    }
    .button a {
        font-size: 30px;
    }
    .project1 {
        width: 48%;
        float: left;
    }
    .project2 {
        width: 48%;
        float: right;
    }
    .antilop1 {
        width: 100%;
        float: left;
    }
    .antilop2 {
        width: 100%;
        float: right;
    }
    .nav {
        display: none;
    }
    footer {
        padding: 24px 35px;
        font-size: 17px;
    }
}

/*---DESKTOP---*/

@media (min-width: 1068px) {
    #container {
        margin: 90px 50px;
    }
    .user-scrolls {
        padding: 20px 50px;
    }
    body {
        /*        background: lightblue;*/
    }
    header {
        padding: 50px;
        transition: all .2s ease-in-out;
    }
    .menu {
        display: none;
        transition: all .2s ease-in-out;
        margin: 47px 50px 48px 50px;
    }
    #hero {
        max-width: 1000px;
        font-size: 90px;
        padding-bottom: 140px;
        clear: both;
        line-height: 1.2;
        margin: auto;
        text-align: center;
    }
    #hero h4 {
        max-width: 1000px;
        font-size: 30px;
        clear: both;
        line-height: 1.2;
    }
    #hero p {
        margin-left: -3px;
        margin-top: -15px;
    }
    .button {
        padding-top: 0px;
        text-align: center;
    }
    .button a {
        font-size: 35px;
    }
    .nav-hamburger {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        float: left;
    }
    ul li {
        display: -webkit-inline-box;
        margin: 0;
        padding: 12px 0 13px 0;
    }
    ul li a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 12px 20px 13px 20px;
    }
    .hamburger {
        display: none;
    }
    .nav-hamburger {
        display: none;
    }
    footer {
        padding: 25px 50px;
        font-size: 20px;
    }
}

/*__________*/

.headertoo {
    height: 100vh;
}

.nav-hamburger {
    width: 100%;
    height: 100%;
    background: #af1b1b;
    position: fixed;
    top: -100%;
    right: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    margin: 0;
    z-index: 3000;
}

.show {
    top: 0;
    padding-top: 20%;
    z-index: 3000;
}

.nav-hamburger a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 30px;
}

.nav-hamburger ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-hamburger li {
    text-align: center;
    padding: 30px 20px;
    list-style: none;
}

/*__________*/

#text {
    clear: both;
}

footer {
    background: #8e2121;
    color: #fff;
    text-align: center;
    bottom: 0;
    overflow: auto;
}

header {
    background: #c13333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow: auto;
    z-index: 1000;
}

.hamburger {
    width: 30px;
    height: 34px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    position: sticky;
    position: -webkit-sticky;
    float: right;
    cursor: pointer;
    z-index: 4000;
}

.bar1,
.bar3 {
    background-color: white;
    height: 2px;
    margin: 7px 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.bar2 {
    background-color: white;
    height: 2px;
    margin: 7px 0;
    transition: all 0s ease-out;
    -webkit-transition: all 0s ease-out;
}

.bar-color {
    background-color: #fff;
    z-index: 2000;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
}


.moveOne {
    transform: translateY(9px) rotate(-45deg);
    -webkit-transform: translateY(9px) rotate(-45deg);
}

.moveTwo {
    opacity: 0;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.moveThree {
    transform: translateY(-9px) rotate(45deg);
    -webkit-transform: translateY(-9px) rotate(45deg);
}


/*
.moveOne {
    opacity: 0;
    transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
}
.moveTwo {
    -webkit-transform: translateY(-9px);
    -webkit-transform: translate3d(0, -10px, 0);
    -webkit-transform: rotate(45deg);
    transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
}
.moveThree {
    -webkit-transform: translateY(-18px);
    -webkit-transform: translate3d(0, -10px, 0);
    -webkit-transform: rotate(-45deg);
    transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
}
*/


.button a {
    color: white;
    text-decoration: none;
    background-color: #222;
    border-radius: 5px;
    padding: 20px 60px;
    text-align: center;
    transition: all .2s ease-in-out;
}

i.fa.fa-heart {
    border-width: 0;
}

i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 5px 0px 3px 30px;
    transition: all .2s ease-in-out;
}

.right:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 5px 0px 3px 30px;
    transition: all .2s ease-in-out;
}

.no-scrolling {
    overflow: hidden;
    height: 100%:
}